---
// Form.astro
---

<form action="/api/send-email" method="POST">
    <label>
      Nombre
      <input type="text" id="name" name="name" required />
    </label>
    <label>
      Correo electrónico
      <input type="email" id="email" name="email" required />
    </label>
    <label>
      Mensaje
      <textarea id="message" name="message" required></textarea>
    </label>
    <button type="submit">Enviar</button>
  </form>
  